th,
td {
    border: 1px solid #D7D7D7;
    text-align: center;
    vertical-align: inherit;
    height: 25px;
    display: table-cell;
}

.col1 {
    width: 50%;
}

.col2 {
    width: 20%;
}

.col3 {
    width: 30%;
}

.table-header,
.table-foot {
    background-color: #E0E0E0;
    display: table-row;
}

.ratio-down,
.ratio-up {
    height: 10px;
}

.ratio-down {
    float: left;
    width: 70%;
    background: #E3E4E6;
    position: relative;
    top: 5px;
    left: 10%;
}

.ratio-up {
    background: #29A4FA;
}

.ratio {
    margin-left: 10%;
}