* {
    -webkit-user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    -webkit-tap-highlight-color: transparent;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007aff;
}

.module {
    position: relative;
    margin-top: 10px;
    background: #fff;
}

.module.module-nomargin {
    margin-top: 0;
}

.module .module-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 44px;
    background: #fff;
    font-size: 17px;
    color: #222;
    padding-left: 10px;
    align-items: center;
}

.module .module-header .module-title:before {
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 17px;
    content: ' ';
    color: transparent;
    border-left: 2px solid #ed424b;
    vertical-align: -3px;
}

.topline:before,
.tbline:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-top: 1px solid #E8E8E8;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.btmline:after,
.tbline:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #E8E8E8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.rightline:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #E8E8E8;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.module-content {
    padding: 5px 10px;
    font-size: 15px;
    color: #555;
}

.module-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

.module-cell_bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    min-width: 0;
}

.module-signtext {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.flex-jc-c {
    justify-content: center;
}

.module-content_roundcell {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
    padding: 5px;
    margin-bottom: 5px;
}

.module-cell-h46 {
    height: 46px;
    line-height: 46px;
    position: relative;
    display: flex;
    display: -webkit-flex;
}

.module-cell-h46:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #E8E8E8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.module-cell-h46:last-child:after {
    display: none;
}

/*爱儿有方*/
.dlfm-news-cell {
    padding: 8px 10px;
    height: 80px;
    position: relative;
    display: block;
}

.dlfm-news-cell:active {
    background: rgba(0, 0, 0, 0.08);
}

.dlfm-news-cell img {
    width: 120px;
    height: 80px;
}

.news-info-view {
    position: absolute;
    top: 8px;
    right: 10px;
    left: 140px;
    bottom: 8px;
}

.news-info-view .news-title {
    font-size: 17px;
    font-weight: 500;
    color: #222;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.news-info-view .news-time {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
    color: #999;
}

.dlfm-news-cell.btmline:after {
    left: 10px;
}

.dlfm-news-cell.btmline:last-child:after {
    display: none;
}

/*好书推荐*/

.top-tabbar-view {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 46px;
    -webkit-touch-callout: none;
    background: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
}

.top-tabbar-view .top-tabber-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 46px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}

.top-tabber-item span {
    font-size: 14px;
    color: #111;
    font-weight: 500;
}

.top-tabber-item.ztn-active span {
    color: #ed781b;
}

.book-content {
    margin-top: 56px;
    background: #f2f2f2;
}

.book-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-pack: center;
    flex-direction: row;
    margin-top: 10px;
}

.book-list .book-list-item {
    display: block;
    width: calc((100% - 40px) / 3);
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    position: relative;
}

.book-list-item img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.book-list-item .book-name {
    display: block;
    font-size: 13px;
    color: #222;
    margin-top: 3px;
}

/*主题活动*/
.act-content {
    padding: 0 10px 10px 10px;
}

.act-cell {
    margin-top: 20px;
}

.act-content a {
    display: block;
    position: relative;
}

.act-content a:active {
    background: rgba(0, 0, 0, 0.16);
}

.act-content .act-root {
    position: relative;
    padding: 10px 10px 2px 10px;
}

.act-root img {
    width: 100%;
    height: 180px;
}

.act-proctm-view {
    text-align: center;
    margin-bottom: 15px;
}

.act-proctm {
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.18);
    padding: 5px;
    border-radius: 5px;
}

.act-main {
    border: 1px solid #e5e5e5;
    background: #fff;
    position: relative;
    border-radius: 6px;
}

.act-root .act-root-title {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 10px;
    left: 10px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.4;
    background: rgba(0, 0, 0, 0.30);
    color: #fff;
}

.act-child-item {
    padding: 8px 10px;
}

.act-child-item .act-child-item-title {
    padding-right: 56px;
    color: #111;
    font-size: 16px;
    min-height: 56px;
}

.act-child-item .act-child-item-img {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 48px;
    height: 48px;
}

.act-child-item:before {
    content: " ";
    position: absolute;
    left: 10px;
    top: 0;
    right: 10px;
    border-top: 1px solid #E8E8E8;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

/*个人中心*/
.module-user_info {
    display: flex;
    display: -webkit-flex;
    background: #fff;
    font-size: 17px;
    color: #222;
    padding: 0 10px;
    height: 72px;
    align-items: center;
}

.module-user_info:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #E8E8E8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.user_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.user_layout {
    flex: 1;
    -webkit-flex: 1;
    padding-left: 10px;
}

.user_layout .user_name {
    font-size: 16px;
}

.user_goz {
    color: #999;
    font-size: 13px;
    margin-top: 5px;
}

.user_right_view {
    position: relative;
    font-size: 13px;
    color: #999;
    height: 62px;
    line-height: 62px;
    padding-right: 18px;
}

.user-arrow {
    position: absolute;
    top: 23px;
    right: 0px;
    fill: #999;
    display: inline-block;
}

.personal-cell {
    height: 46px;
    line-height: 46px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.personal-cell:active {
    background: rgba(0, 0, 0, 0.12);
}

.personal-cell img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.personal-title {
    margin-left: 10px;
    color: #333;
    font-size: 15px;
}

.personal-cell_arrow {
    color: #999;
    fill: #999;
}

.module-cell.personal-cell:last-child:after {
    display: none;
}

.icon > svg, svg.icon {
    width: 14px;
    height: 14px;
    vertical-align: -.25ex;
    fill: currentColor;
}
